html,body{
height:100%;
margin: 0;
padding: 0;
}
img{
height:112%;
border-radius:50%;
}
.div1a{
height:11%;
background:#AABFAE;
}
.div1b{
height:11%;
background:#8D9D90;
}
.div2{
height:78%;
position:relative;
background:#FDFBFC;
}
.div3{
width:85%;
height:80%;
background:darkgray1;
margin:0 auto;
position:relative;
} 
.div4{
height:10%;
}
.div5{
width:20%;
height:58%;
margin:0;
background:green1;
margin:0 auto;
text-align: center;
position:relative;
right:3%;
top:8%;
}
.div6a{
width:20%;
height:90%;
background:silver1;
float:left;
position:relative;
}
.div6b{
width:20%;
height:90%;
background:silver1;
float:right;
position:relative;
left:4%;
bottom:58%;
}
.div7{
height:53%;
border-top:3px dashed #E1ECE5;
border-bottom:3px dashed #E1ECE5;
background:darkgray1;
position:relative;
top:8.5%;
}
.div71{
width:14%;
height:82%;
background:darkblue1;
position:relative;
left:13.9%;
top:5%;
}
.div72{
width:14%;
height:82%;
background:darkred1;
position:absolute;
left:33.3%;
top:5%;
}
.div73{
width:14%;
height:82%;
background:darkgreen1;
position:absolute;
left:52.7%;
top:5%;
}
.div74{
width:14%;
height:82%;
background:silver1;
position:absolute;
left:72.1%;
top:5%;
}

.div8{
width:52.5%;
height:10.6%;
border:1px solid black;
background:darkblue1;
text-align: center;
position:relative;
left:23.75%;
top:0%;
}
.div9{
width:50%;
height:17.1%;
border-right:1px dashed black;
background:darkgray1;
position:relative;
left:0%;
top:0%;
}
.div10{
width:100%;
height:72.3%;
padding:5%;
border:1px solid black;
border-radius:6%;
background:darkgreen1;
position:relative;
right:5%;
top:0%;
}
.div11a{
width:60px;
height:60px;
border-radius:50%;
text-align: center;
border:3px solid black;
position:absolute;
top:85%;
left:8%;
}
.div11b{
width:60px;
height:60px;
border-radius:50%;
text-align: center;
border:3px solid black;
position:absolute;
top:69%;
left:24%;
}
.div11c{
width:60px;
height:60px;
border-radius:50%;
text-align: center;
border:3px solid black;
position:absolute;
top:73%;
left:37%;
}
.div11d{
width:60px;
height:60px;
border-radius:50%;
text-align: center;
border:3px solid black;
position:absolute;
top:68%;
left:55%;
}
.div11e{
width:60px;
height:60px;
border-radius:50%;
text-align: center;
border:3px solid black;
position:absolute;
top:76%;
left:68%;
}
.div11f{
width:60px;
height:60px;
border-radius:50%;
text-align: center;
border:3px solid black;
position:absolute;
top:73%;
left:83%;
}
.div12a{
width:80px;
height:80px;
border-radius:50%;
position:absolute;
top:75%;
left:15%;
}
.div12b{
width:80px;
height:80px;
border-radius:50%;
position:absolute;
top:83%;
left:29%;
}
.div12c{
width:80px;
height:80px;
border-radius:50%;
position:absolute;
top:64%;
left:45%;
}
.div12d{
width:80px;
height:80px;
border-radius:50%;
position:absolute;
top:84.5%;
left:60%;
}
.div12e{
width:80px;
height:80px;
border-radius:50%;
position:absolute;
top:64%;
left:74%;
}
.div12f{
width:80px;
height:80px;
border-radius:50%;
position:absolute;
top:78%;
left:90%;
}
.size1{font-size:12px;}
.size2{font-size:13px;}
.size3{font-size:14px;}
.size4{font-size:16px;}
.size5{font-size:18px;}
.size6{font-size:20px;}
.p1{
width:450%;
font-size:13px;
background:blue1;
}
.p2{
font-size:15px;
position:relative;
top:38%;
left:37%;
}
.p3{
vertical-align:middle;
}
.p4{
color:#769374;
font-size:20px;
position:absolute;
left:6%;
top:2.5%;
}
.p5{
color:#769374;
font-size:20px;
position:absolute;
left:6%;
top:65%;
}
.p6{
text-decoration:none;
font-size:22px;
color:#838B7E;
position:absolute;
left:81%;
top:3.5%;
}
.p7{
font-size:22px;
transform:rotate(18deg);
position:relative;
left:0%;
top:29%;
}
.p8{
font-size:22px;
transform:rotate(0deg);
position:relative;
left:0%;
top:29%;
}
.p9{
font-size:22px;
transform:rotate(-30deg);
position:relative;
left:0%;
top:27%;
}
.p10{
font-size:22px;
transform:rotate(32deg);
position:relative;
left:0%;
top:27%;
}
.p11{
font-size:22px;
transform:rotate(-35deg);
position:relative;
left:0%;
top:27%;
}
.p12{
font-size:22px;
transform:rotate(20deg);
position:relative;
left:0%;
top:16%;
}